<% stories = Story.all %>
<% projects = Project.all %> 
<div class="row">
  <div class="col-sm-10">
    <button type="button" class="btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#new-project-modal2">         Create New Project
    </button>
  </div>
</div>

<table class="table" aria-multiselectable="true">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>ID</th>
      <th>Title</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
  <ul class="projects">
    <% projects.each_with_index do |project, project_id| %>
    <% project_id = project.id %>
    <% @project = project %>
    <tr class="projects" id="proj-<%= @project_id %>">
      <td>
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-story-modal<%= project.id %>"> +
        </button>
      </td>
      <td>
        <button class="projects clickable" data-toggle="collapse" data-parent="accordion" id="<%= project.id %>" data-target=".<%= project.id %>collapsed" toggle="false">
          <i class="projectsglyphicon chevron_toggleable glyphicon glyphicon-large glyphicon-chevron-right"></i>
        </button>
      </td>

      <td><%= project.id %></td>
      <!--<td><%= link_to project["name"], project_path(project.id) %></td>-->
      <!--<td><%= link_to project["name"], edit_project_path(project), data: {toggle: "modal", target: "#edit-project-modal2"}, :remote => true %></td>-->
      <td><%= link_to project["name"], edit_project_path(project), {controller: projects, action: "edit"} %></td>
      <td><%# link_to story["name"], story["name"] %></td>
      <td><%= project["product_owner"] %></td>   
      <td><%# project.client %></td>
    </tr>
    <ul class="stories">
    <% project.stories.each do |story, project_id| %>
    <% story_id = story.id %>
    <% @story = story %>
    <!-- <%#<tr class="clickable" data-toggle="collapse" id="<%= story.project_id %>" data-target=".<%= story.id %>collapsed"%>   -->
      <tr class="storiescollapse collapse <%= project.id %>collapsed" data-toggle="collapse">
        <td>
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-task-modal<%= story.id %><%= project.id %>"> +
        </button>
        </td>
        <td>
          <button class="stories clickable" data-toggle="collapse" data-parent="accordion" id="<%= story.id %>" data-target=".<%= story.id %>collapsed" toggle="false">
          <i class="projectsglyphicon chevron_toggleable glyphicon glyphicon-large glyphicon-chevron-right"></i>
        </button>
        </td>
        <!--<td><%# link_to 'Add a Task', Tasks::create_task(:locals => {:project => '1396874', :name => "New Task"}) %></td>-->
        
        <td><%= story.id %></td>
        <td><%= link_to story.name, story.name %></td>
        <td><%# story.owner_ids %></td>
        <td><%# project.point_scale %></td>

      </tr>
      
    <% story.tasks.each do |task, story_id| %>
      <tr class="taskscollapse collapse out <%= story.id %>collapsed" data-toggle="collapse">
        <!--<%#tr data-toggle="collapse" data-target="#stories" class="accordion-toggle"> %>-->
        <td></td>
        <td></td>
        <td><%= task.id %></td>
        <td><%= task.description %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
    <div class='container'>
        <% yield %>
          <% if @story.id == story_id %>
            <%= render partial: "home/new_task_form", locals: {story_id: story.id} %>
          <% end %>
      </div>
    <% end %>
    </ul>
    <div class='container'>
        <% yield %>
          <% if @project.id == project_id %>
            <%= render partial: "home/new_story_form", locals: {project_id: project.id} %>
          <% end %>
      </div>
    <% end %>
    </ul>
  </tbody>
</table>
<!--</html>-->