<% stories = Story.all %>
<% projects = Project.all %>
<% tasks = Task.all %> 
<div class="row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#new-project-modal2">         Create New Project
    </button>
  </div>
</div>
<div class="col-md-10">
<table class="table table-hover table-sm" aria-multiselectable="true">
  <thead>
    <tr class="table-success">
      <th class="col-md-20">&nbsp;</th>
      <th>ID</th>
      <th>Title</th>
      <th>Status</th>
      <th>Owner</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
  <ul class="projects">
    <% projects.each_with_index do |project, project_id| %>
    <% project_id = project.id %>
    <% @project = project %>
    <tr class="projects bg-active" id="proj-<%= @project_id %>" height="15px">
      <td>
        <button class="projects clickable" data-toggle="collapse" data-parent="accordion" id="<%= project.id %>" data-target=".<%= project.id %>collapsed" toggle="false">
          <i class="projectsglyphicon chevron_toggleable glyphicon glyphicon-medium glyphicon-chevron-right"></i>
        </button>
        <!--<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-story-modal<%= project.id %>"> + </button>-->
        <%= link_to '+', new_story_path(:project=> project, :story_id => nil), {controller: stories, action: "new", remote: true} %>
        <%= link_to '-', project_path(@project), data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </td>
      <td><%= project.id %></td>
      <!--<td><%= link_to project["name"], project_path(project.id) %></td>-->
      <!--<td><%= link_to project["name"], edit_project_path(project), data: {toggle: "modal", target: "#edit-project-modal2"}, :remote => true %></td>-->
      <td><%= link_to project.name, edit_project_path(project), {controller: projects, action: "edit", remote: true} %></td>
      <td><%# link_to story["name"], story["name"] %></td>
      <td><%= project["product_owner"] %></td>   
      <td><%# project.client %></td>
    </tr>
    <ul class="stories">
    <% project.stories.each do |story, story_id| %>
    <% story_id = story.id %>
    <% @story = story %>
    <!-- <%#<tr class="clickable" data-toggle="collapse" id="<%= story.project_id %>" data-target=".<%= story.id %>collapsed"%>   -->
      <tr class="storiescollapse collapse <%= project.id %>collapsed bg-info" data-toggle="collapse" height="15px" Color="">
        <td>
          <button class="stories clickable" data-toggle="collapse" data-parent="accordion" id="<%= story.id %>" data-target=".<%= story.id %>collapsed" toggle="false">
            <i class="projectsglyphicon chevron_toggleable glyphicon glyphicon-medium glyphicon-chevron-right"></i>
          </button>
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-task-modal<%= story.id %><%= project.id %>"> +
        </button>
        <%= link_to '+', new_task_path(:story_id => story.id, :task_id => nil), {controller: tasks, action: "new", remote: true} %>
        <%= link_to '-', story_path(@story), data: {:confirm => 'Are you sure?'}, :method => :delete %>
        </td>
        <!--<td><%# link_to 'Add a Task', Tasks::create_task(:locals => {:project => '1396874', :name => "New Task"}) %></td>-->
        
        <td><%= story.id %></td>
        <td><%= link_to story.name, edit_story_path(:id => story.id, :project_id => project_id), {controller: stories, action: "edit", :locals => {story: story}, remote: true} %></td>
        <td><%# story.owner_ids %></td>
        <td><%# project.point_scale %></td>

      </tr>
      
    <% story.tasks.each do |task, task_id| %>
      <% task_id = task.id %>
    <% @task = task %>
      <tr class="taskscollapse collapse out <%= story.id %>collapsed" data-toggle="collapse">
        <!--<%#tr data-toggle="collapse" data-target="#stories" class="accordion-toggle"> %>-->
        <td><%= link_to '-', task_path(@task), data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
        <td><%= task.id %></td>
        <td><%= link_to task.name, edit_task_path(:id => task.id, :story_id => story_id), {controller: tasks, action: "edit", remote: true} %></td>
        <td><%= task.status %></td>
        <td></td>
      </tr>
      <div class='container'>
        <% yield %>
          <% if @task.id == task_id %>
            <% if @story.id == story_id %>
            <%= render partial: "tasks/dialog", locals: {story: story, task: task} %>
          <% end %>
          <% end %>
      </div>
    <% end %>
    <div class='container'>
        <% yield %>
          <% if @story.id == story_id %>
            <%= render partial: "home/new_task_form", locals: {story_id: story.id} %>
            <% if @project.id == project_id %>
            <%= render partial: "stories/dialog", locals: {story: story, project: project} %>
          <% end %>
          <% end %>
      </div>
    <% end %>
    </ul>
    <div class='container'>
        <% yield %>
          <% if @project.id == project_id %>
            <%= render partial: "home/new_story_form", locals: {project_id: project.id} %>
            <%= render partial: "projects/dialog", locals: {project: project} %>
            <%= render partial: "stories/dialog", locals: {project: project} %>
          <% end %>
      </div>
    <% end %>
    </ul>
  </tbody>
</table>
</div>
<!--</html>-->