<div class="modal" id="new-task-modal<%= @story.id %><%= @project.id %>" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">New Task</h4>
      </div>
  <%= form_for :task, url: '/tasks', html: { class: "form-horizontal" } do  |f| %>

  <div class="field">
    <%= f.label :story_id %><br>
    <%= f.text_field :story_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :estimated_hours %><br>
    <%= f.text_field :estimated_hours %>
  </div>
  <div class="field">
    <%= f.label :todo_hours %><br>
    <%= f.text_field :todo_hours %>
  </div>
  <div class="field">
    <%= f.label :completed_hours %><br>
    <%= f.text_field :completed_hours %>
  </div>
  <div class="field">
    <%= f.label :dependencies %><br>
    <%= f.text_field :dependencies %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :status_indicator %><br>
    <%= f.text_field :status_indicator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
      <!-- end of form -->
    </div>
  </div>
</div>