<div class="modal" id="new-task-modal<%= @story.id %><%= @project.id %>" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">New Task</h4>
      </div>
  <%= form_for :task, url: '/tasks', html: { class: "form-horizontal" } do  |f| %>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id, value: @project.id.to_s() + ': ' + @project.name%>
  </div>
  <div class="field">
    <%= f.label :story_id %><br>
    <%= f.text_field :story_id, value: @story.id.to_s() + ': ' + @story.name%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :value => 'Task Title' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, :value => 'Task Description' %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner, :value => 'Task Owner' %>
  </div>
  <div class="field">
    <%= f.label :estimated_hours %><br>
    <%= f.text_field :estimated_hours, :value => 'Task Estimated Hous' %>
  </div>
  <div class="field">
    <%= f.label :todo_hours %><br>
    <%= f.text_field :todo_hours, :value => 'Task ToDo Hours' %>
  </div>
  <div class="field">
    <%= f.label :completed_hours %><br>
    <%= f.text_field :completed_hours, :value => 'Task Completed Hours' %>
  </div>
  <div class="field">
    <%= f.label :dependencies %><br>
    <%= f.text_field :dependencies, :value => 'Task Dependencies' %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status, :value => 'Task Status' %>
  </div>
  <div class="field">
    <%= f.label :status_indicator %><br>
    <%= f.text_field :status_indicator, :value => 'Task Status Indicator' %>
  </div>
  <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
      <!-- end of form -->
    </div>
  </div>
</div>