<% if story_id == nil %>
  <% story_id = "" %>
<% end %>
<% if story_name == nil %>
  <% story_name = "" %>
<% end %>

<%= form_for @story, html: { class: "form-horizontal" } do |f|%>
      <div class="modal-body">
          <!--<div class="form-group">
            <label for="inputStoryID" class="col-sm2 control-label">ID</label>
            <div class="col-sm-10">
              <input type="text" name="story[id]" class="form-control" id="id" value="<%= Story.new.id %>" required>
              <!-- </div> -->
            <!--</div>
          </div>-->
          <div class="form-group">
            <label for="inputStory" class="col-sm2 control-label">Story</label>
            <div class="col-sm-10">
              <input type="text" name="story[name]" id="inputStory" class="form-control" value="<%= story_id %>: <%= story_name %>" required>
              </input>
            </div>
          </div>
          <div class="form-group">
            <label for="inputProjectName" class="col-sm2 control-label">Project</label>
            <div class="col-sm-10">
              <input name="story[project_id]" id="inputProjectName" class="form-control" value="<%= project_id %>: <%= project_name %>" required>
              </input>
            </div>
          </div>
          <div class="form-group">
            <label for="inputProjectDescription" class="col-sm2 control-label">Description</label>
            <div class="col-sm-10">
            <textarea name="story[description]" id="inputDescription" class="form-control" value="Project Description" required>
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="inputProjectProductOwner" class="col-sm2 control-label">Owner</label>
            <div class="col-sm-10">
            <input name="story[owner]" id="inputProjectProductOwner" class="form-control" value="Product Owner" required>
              </input>
            </div>
          </div>
      </div>
      <div class="actions">
    <%= f.submit %>
  </div>
<% end %>